* {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section,
nav,
header,
aside {
  display: block; }

#main {
  max-width: 1260px;
  margin: 0 auto; }

em {
  font-style: italic; }

strong,
b {
  font-weight: bold; }

.is-visible,
.block {
  display: block; }

.is-hidden {
  display: none; }

.hide-text {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden; }

ol {
  zoom: 1; }
  ol:before, ol:after {
    content: "";
    display: table; }
  ol:after {
    clear: both; }

#page_header {
  text-align: center; }

#main {
  position: relative; }

ol {
  margin-left: -0.5%;
  padding: 0;
  position: relative; }

li {
  width: 5.05556%;
  border: 2px solid #555555;
  color: transparent;
  display: inline-block;
  float: left;
  height: 64px;
  list-style: none;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  text-align: center;
  text-indent: 100%;
  text-transform: capitalize;
  white-space: nowrap; }
  li:hover {
    cursor: pointer; }

li[data-bg="futura"] {
  margin-left: 83.83333%;
  margin-right: 5.55556%; }

li[data-bg="gill_sans"],
li[data-bg="myriad"] {
  margin-left: 50.5%; }

li[data-bg="zapfino"] {
  margin-left: 56.05556%; }

li.script {
  margin-top: 3%; }

.typeface-meta {
  width: 38.38889%;
  height: 33.83333%;
  margin-left: 17.16667%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1010; }

.ss-grotesk {
  border: 2px solid #ffd8a5;
  border-radius: 0 5px 5px 5px;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .ss-grotesk:hover {
    background-color: #ffd8a5; }

.ss-humanist {
  border: 2px solid #ff8e6b;
  border-radius: 5px 0 5px 0;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .ss-humanist:hover {
    background-color: #ff8e6b; }

.ss-geo {
  border: 2px solid #ebcfdb;
  border-radius: 5px 0 5px 5px;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .ss-geo:hover {
    background-color: #ebcfdb; }

.sr-didone {
  border: 2px solid #00bda3;
  border-radius: 5px 5px 5px 0;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .sr-didone:hover {
    background-color: #00bda3; }

.sr-ss {
  border: 2px solid #9de0ad;
  border-radius: 0 5px 0 0;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .sr-ss:hover {
    background-color: #9de0ad; }

.sr-realist {
  border: 2px solid #9edced;
  border-radius: 0 5px 0 5px;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .sr-realist:hover {
    background-color: #9edced; }

.sr-garalde {
  border: 2px solid #c2ace7;
  border-radius: 5px 5px 0 5px;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .sr-garalde:hover {
    background-color: #c2ace7; }

.sr-slab {
  border: 2px solid #dad8a7;
  border-radius: 0 0 0 5px;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .sr-slab:hover {
    background-color: #dad8a7; }

.gl-inscription {
  border: 2px solid #ade9dd;
  border-radius: 0;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .gl-inscription:hover {
    background-color: #ade9dd; }

.ss-display {
  border: 2px solid #00a8da;
  border-radius: 0 0 5px 0;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .ss-display:hover {
    background-color: #00a8da; }

.blackletter {
  border: 2px solid #89e872;
  border-radius: 5px 0 0 0;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .blackletter:hover {
    background-color: #89e872; }

.script {
  border: 2px solid #ff9ca6;
  border-radius: 5px;
  -webkit-transition: background-color 0.8s ease-in-out; }
  .script:hover {
    background-color: #ff9ca6; }

li[data-bg=helvetica] {
  background-image: url("../img/helvetica.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=futura] {
  background-image: url("../img/futura.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=univers] {
  background-image: url("../img/univers.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=akzidenz_grotesk] {
  background-image: url("../img/akzidenz_grotesk.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=gill_sans] {
  background-image: url("../img/gill_sans.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=optima] {
  background-image: url("../img/optima.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=frutiger] {
  background-image: url("../img/frutiger.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=syntax] {
  background-image: url("../img/syntax.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=meta] {
  background-image: url("../img/meta.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=avant_garde] {
  background-image: url("../img/avant_garde.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bodoni] {
  background-image: url("../img/bodoni.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bell_gothic] {
  background-image: url("../img/bell_gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=franklin_gothic] {
  background-image: url("../img/franklin_gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=myriad] {
  background-image: url("../img/myriad.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=formata] {
  background-image: url("../img/formata.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=prokyon] {
  background-image: url("../img/prokyon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=metro] {
  background-image: url("../img/metro.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=antique_olive] {
  background-image: url("../img/antique_olive.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=eurostile] {
  background-image: url("../img/eurostile.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=didot] {
  background-image: url("../img/didot.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=interstate] {
  background-image: url("../img/interstate.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=din] {
  background-image: url("../img/din.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=stone] {
  background-image: url("../img/stone.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=thesis] {
  background-image: url("../img/thesis.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=rotis] {
  background-image: url("../img/rotis.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=times] {
  background-image: url("../img/times.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=trinite] {
  background-image: url("../img/trinite.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=baskerville] {
  background-image: url("../img/baskerville.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=garamond] {
  background-image: url("../img/garamond.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=caslon] {
  background-image: url("../img/caslon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=minion] {
  background-image: url("../img/minion.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=lucida] {
  background-image: url("../img/lucida.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=fleischmann] {
  background-image: url("../img/fleischmann.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=dax] {
  background-image: url("../img/dax.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=today_sans] {
  background-image: url("../img/today_sans.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=info] {
  background-image: url("../img/info.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=gotham] {
  background-image: url("../img/gotham.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=walbaum] {
  background-image: url("../img/walbaum.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=letter_gothic] {
  background-image: url("../img/letter_gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=avenir] {
  background-image: url("../img/avenir.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=officina] {
  background-image: url("../img/officina.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=scala] {
  background-image: url("../img/scala.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=base] {
  background-image: url("../img/base.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=arnhem] {
  background-image: url("../img/arnhem.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=lexicon] {
  background-image: url("../img/lexicon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=scotch_roman] {
  background-image: url("../img/scotch_roman.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=sabon] {
  background-image: url("../img/sabon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bembo] {
  background-image: url("../img/bembo.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=jenson] {
  background-image: url("../img/jenson.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=griffo_classico] {
  background-image: url("../img/griffo_classico.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=garamond_classico] {
  background-image: url("../img/garamond_classico.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=cheltenham] {
  background-image: url("../img/cheltenham.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=amplitude] {
  background-image: url("../img/amplitude.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bell_centennial] {
  background-image: url("../img/bell_centennial.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=neutraface] {
  background-image: url("../img/neutraface.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=matrix] {
  background-image: url("../img/matrix.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=trade_gothic] {
  background-image: url("../img/trade_gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=news_gothic] {
  background-image: url("../img/news_gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=fedra] {
  background-image: url("../img/fedra.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=quadraat] {
  background-image: url("../img/quadraat.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=clarendon] {
  background-image: url("../img/clarendon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=rockwell] {
  background-image: url("../img/rockwell.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=ionic] {
  background-image: url("../img/ionic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=swift] {
  background-image: url("../img/swift.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=joanna] {
  background-image: url("../img/joanna.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=aldine] {
  background-image: url("../img/aldine.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=kis] {
  background-image: url("../img/kis.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=palatino] {
  background-image: url("../img/palatino.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=cooper_black] {
  background-image: url("../img/cooper_black.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=spectrum] {
  background-image: url("../img/spectrum.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=proforma] {
  background-image: url("../img/proforma.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=copperplate_gothic] {
  background-image: url("../img/copperplate_gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=trajan] {
  background-image: url("../img/trajan.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=century] {
  background-image: url("../img/century.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=ocr] {
  background-image: url("../img/ocr.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=chicago] {
  background-image: url("../img/chicago.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=peignot] {
  background-image: url("../img/peignot.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=oakland] {
  background-image: url("../img/oakland.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=blur] {
  background-image: url("../img/blur.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=egyptian] {
  background-image: url("../img/egyptian.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=courier] {
  background-image: url("../img/courier.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=memphis] {
  background-image: url("../img/memphis.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=caecilia] {
  background-image: url("../img/caecilia.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=gutenberg] {
  background-image: url("../img/gutenberg.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=gebetbuch] {
  background-image: url("../img/gebetbuch.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=unger_fraktur] {
  background-image: url("../img/unger_fraktur.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=manuskript] {
  background-image: url("../img/manuskript.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=breitkopf] {
  background-image: url("../img/breitkopf.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=fette] {
  background-image: url("../img/fette.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=wilhelm] {
  background-image: url("../img/wilhelm.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=weiss] {
  background-image: url("../img/weiss.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=fette_deutsche] {
  background-image: url("../img/fette_deutsche.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=zapfino] {
  background-image: url("../img/zapfino.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=mistral] {
  background-image: url("../img/mistral.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=hands] {
  background-image: url("../img/hands.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=snell_roundhand] {
  background-image: url("../img/snell_roundhand.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=st_augustine] {
  background-image: url("../img/st_augustine.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bickham_script] {
  background-image: url("../img/bickham_script.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=uncial] {
  background-image: url("../img/uncial.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=beowulf] {
  background-image: url("../img/beowulf.svg");
  background-position: center center;
  background-repeat: no-repeat; }
