/* line 5, ../sass/base/_base.scss */
* {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 20, ../sass/base/_base.scss */
section,
nav,
header,
aside {
  display: block; }

/* line 30, ../sass/base/_base.scss */
#main {
  *zoom: 1;
  max-width: 77.1em;
  _width: 77.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #main:after {
    content: "";
    display: table;
    clear: both; }

/* line 48, ../sass/base/_type.scss */
em {
  font-style: italic; }

/* line 53, ../sass/base/_type.scss */
strong,
b {
  font-weight: bold; }

/* line 5, ../sass/_periodic_table.scss */
ul {
  margin: 0;
  padding: 0; }

/* line 10, ../sass/_periodic_table.scss */
li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #555555;
  display: inline-block;
  list-style: none;
  margin-bottom: 0.3em;
  padding: 1em;
  text-align: center; }

/* line 20, ../sass/_periodic_table.scss */
.ss-gro {
  width: 10.76524%;
  float: left;
  margin-right: 0.38911%;
  display: inline; }
  /* line 22, ../sass/_periodic_table.scss */
  .ss-gro li {
    width: 48.19277%;
    float: left;
    margin-right: 3.61446%;
    display: inline;
    border-top-left-radius: 0; }
    /* line 26, ../sass/_periodic_table.scss */
    .ss-gro li:nth-of-type(even) {
      width: 48.19277%;
      float: right;
      margin-right: 0;
      *margin-left: -0.3em;
      display: inline; }
    /* line 30, ../sass/_periodic_table.scss */
    .ss-gro li:nth-child(2) {
      margin-top: 51.80723%; }
