* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box; }

body {
  background: #222222; }

.wrapper {
  background: #F5F3ED;
  margin-bottom: 150px;
  padding: 40px 0;
  position: relative;
  z-index: 2; }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .wrapper {
      background: #dfdbcf url(../img/bg/texture@2X.jpg); } }

#main,
#page_header,
.container {
  max-width: 1260px;
  margin: 0 auto; }

#main {
  position: relative; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #222222;
  font-family: "Vollkorn", Georgia, Times, serif;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

h1 {
  font-size: 32px;
  font-size: 3.2rem; }

h2 {
  font-size: 26px;
  font-size: 2.6rem; }

a {
  color: #96c9e3;
  text-decoration: none; }
  a:active, a:visited {
    color: #96c9e3; }
  a:hover {
    color: #eda8a7; }

em {
  font-style: italic; }

strong,
b {
  font-weight: bold; }

.is-hidden {
  display: none; }

.ico-twitter a,
.ico-github a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.typefaces {
  zoom: 1; }
  .typefaces:before, .typefaces:after {
    content: "";
    display: table; }
  .typefaces:after {
    clear: both; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

#page_header {
  margin-bottom: 40px;
  text-align: center; }
  #page_header h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase; }
    #page_header h1 em {
      font-family: "Vollkorn", Georgia, Times, serif;
      font-style: italic;
      font-weight: 400;
      text-transform: lowercase; }
  #page_header h2 {
    border-top: 2px solid #222222;
    font-family: "Vollkorn", Georgia, Times, serif;
    font-style: italic;
    font-weight: 400px;
    line-height: 26px; }
    #page_header h2 span {
      background: #F5F3ED;
      line-height: 26px;
      padding: 0 20px;
      position: relative;
      top: -13px; }
      @media (-webkit-min-device-pixel-ratio: 2) {
        #page_header h2 span {
          background: #dfdbcf url(../img/bg/texture@2X.jpg); } }

.typefaces {
  margin-left: -0.5%;
  padding: 0;
  position: relative; }

.typefaces li {
  width: 5.05556%;
  display: inline-block;
  float: left;
  height: 64px;
  list-style: none;
  margin-left: 0.5%;
  margin-bottom: 0.5%; }
  .typefaces li.spacer {
    border: none;
    pointer-events: none; }

.typeface {
  position: relative;
  border: 2px solid #d8d7d2;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-indent: 100%;
  text-transform: capitalize; }
  .typeface:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: url(/img/icons/expand.svg) center center no-repeat;
    background-size: 32px 32px;
    opacity: 0; }
  .typeface[data-family="Script"] {
    margin-top: 3%; }

.typeface:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease-out; }
  .typeface:hover:after {
    opacity: 1; }

.typeface-meta {
  font-size: 18px;
  font-size: 1.8rem;
  width: 38.38889%;
  height: 33.83333%;
  margin-left: 17.16667%;
  padding-left: 17.16667%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; }
  .typeface-meta .card {
    width: 38.38889%;
    background: #dfdbcf;
    border: 1px solid #cbc4b0;
    height: 100%;
    padding-top: 50px;
    position: absolute;
    left: 0;
    top: 0; }
  .typeface-meta .rank {
    display: block;
    margin-bottom: 0;
    position: absolute;
    top: 10px;
    right: 10px; }
  .typeface-meta i {
    background-size: auto 100%;
    display: block;
    margin: 10px auto;
    height: 64px; }

.typeface-meta-fullscreen {
  background: white;
  color: #222222; }
  .typeface-meta-fullscreen .card {
    color: #222222;
    width: 240px;
    background: transparent;
    border: 1px solid #222222;
    height: 100%;
    padding: 50px 0;
    position: relative; }
    .typeface-meta-fullscreen .card i {
      background-size: auto 100%;
      display: block;
      margin: 10px auto;
      height: 64px; }
  .typeface-meta-fullscreen .rank,
  .typeface-meta-fullscreen .family,
  .typeface-meta-fullscreen .designer,
  .typeface-meta-fullscreen .year {
    display: block;
    margin-bottom: 10px; }
  .typeface-meta-fullscreen .rank {
    margin-bottom: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-size: 2.4rem; }
  .typeface-meta-fullscreen .family {
    font-size: 18px;
    font-size: 1.8rem;
    font-style: italic; }
  .typeface-meta-fullscreen .title {
    font-size: 24px;
    font-size: 2.4rem;
    display: block;
    text-align: center; }

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }

.media__figure {
  margin-right: 2rem; }

.media__body {
  -ms-flex: auto;
      flex: auto; }

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.1s ease-out; }
  .modal-container.is-active {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000; }

.modal {
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding-top: 100px; }

.modal__actions {
  color: white;
  text-align: right; }

.modal__close {
  background: transparent;
  border: none;
  outline: none; }

.ico-close {
  display: inline-block;
  background: url("../img/icons/close.svg") center center no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px; }

#page_footer {
  font-size: 18px;
  font-size: 1.8rem;
  color: #ffffff;
  height: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  position: fixed;
  z-index: 1; }

p,
address {
  width: 49.5%;
  display: inline-block;
  margin: 0;
  vertical-align: top; }

address {
  font-style: normal;
  text-align: right; }
  address ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0; }
  address li {
    display: inline-block;
    line-height: 36px;
    margin-left: 10px; }

.ico-twitter a,
.ico-github a {
  display: block;
  opacity: 0.5;
  height: 52px;
  width: 52px;
  transition: opacity 0.5s ease-in-out; }
  .ico-twitter a:hover,
  .ico-github a:hover {
    opacity: 1; }

.ico-twitter a {
  background-image: url(../img/social/twitter.svg);
  background-repeat: no-repeat;
  background-size: 51px 36px; }

.ico-github a {
  background-image: url(../img/social/github.svg);
  background-repeat: no-repeat;
  background-size: 42px 36px; }

.sans-serif-grotesk {
  background-color: #c8e9f9; }

.typeface.sans-serif-grotesk {
  border-radius: 0 5px 5px 5px; }

.sans-serif-humanist {
  background-color: #fddfdf; }

.typeface.sans-serif-humanist {
  border-radius: 5px 0 5px 0; }

.sans-serif-geometric {
  background-color: #e4defd; }

.typeface.sans-serif-geometric {
  border-radius: 5px 0 5px 5px; }

.serif-didone {
  background-color: #c3b9f5; }

.typeface.serif-didone {
  border-radius: 5px 5px 5px 0; }

.serif-sans-serif {
  background-color: #96c9e3; }

.typeface.serif-sans-serif {
  border-radius: 0 5px 0 0; }

.serif-realist {
  background-color: #e9fdde; }

.typeface.serif-realist {
  border-radius: 0 5px 0 5px; }

.serif-garalde {
  background-color: #fcf7de; }

.typeface.serif-garalde {
  border-radius: 5px 5px 0 5px; }

.slab-serif {
  background-color: #b8f4bd; }

.typeface.slab-serif {
  border-radius: 0 0 0 5px; }

.glyphic-inscriptional {
  background-color: #d0a6ee; }

.typeface.glyphic-inscriptional {
  border-radius: 0; }

.sans-serif-display {
  background-color: #f4bab9; }

.typeface.sans-serif-display {
  border-radius: 0 0 5px 0; }

.blackletter {
  background-color: #b8f3ee; }

.typeface.blackletter {
  border-radius: 5px 0 0 0; }

.script {
  background-color: #89d9d3; }

.typeface.script {
  border-radius: 5px; }

li[data-bg=helvetica],
i.helvetica {
  background-image: url("../img/helvetica.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=futura],
i.futura {
  background-image: url("../img/futura.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=univers],
i.univers {
  background-image: url("../img/univers.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=akzidenz-grotesk],
i.akzidenz-grotesk {
  background-image: url("../img/akzidenz-grotesk.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=gill-sans],
i.gill-sans {
  background-image: url("../img/gill-sans.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=optima],
i.optima {
  background-image: url("../img/optima.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=frutiger],
i.frutiger {
  background-image: url("../img/frutiger.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=syntax],
i.syntax {
  background-image: url("../img/syntax.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=meta],
i.meta {
  background-image: url("../img/meta.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=avant-garde],
i.avant-garde {
  background-image: url("../img/avant-garde.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bodoni],
i.bodoni {
  background-image: url("../img/bodoni.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bell-gothic],
i.bell-gothic {
  background-image: url("../img/bell-gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=franklin-gothic],
i.franklin-gothic {
  background-image: url("../img/franklin-gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=myriad],
i.myriad {
  background-image: url("../img/myriad.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=formata],
i.formata {
  background-image: url("../img/formata.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=prokyon],
i.prokyon {
  background-image: url("../img/prokyon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=metro],
i.metro {
  background-image: url("../img/metro.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=antique-olive],
i.antique-olive {
  background-image: url("../img/antique-olive.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=eurostile],
i.eurostile {
  background-image: url("../img/eurostile.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=didot],
i.didot {
  background-image: url("../img/didot.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=interstate],
i.interstate {
  background-image: url("../img/interstate.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=din],
i.din {
  background-image: url("../img/din.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=stone],
i.stone {
  background-image: url("../img/stone.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=thesis],
i.thesis {
  background-image: url("../img/thesis.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=rotis],
i.rotis {
  background-image: url("../img/rotis.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=times],
i.times {
  background-image: url("../img/times.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=trinite],
i.trinite {
  background-image: url("../img/trinite.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=baskerville],
i.baskerville {
  background-image: url("../img/baskerville.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=garamond],
i.garamond {
  background-image: url("../img/garamond.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=caslon],
i.caslon {
  background-image: url("../img/caslon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=minion],
i.minion {
  background-image: url("../img/minion.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=lucida],
i.lucida {
  background-image: url("../img/lucida.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=fleischmann],
i.fleischmann {
  background-image: url("../img/fleischmann.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=dax],
i.dax {
  background-image: url("../img/dax.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=today-sans],
i.today-sans {
  background-image: url("../img/today-sans.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=info],
i.info {
  background-image: url("../img/info.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=gotham],
i.gotham {
  background-image: url("../img/gotham.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=walbaum],
i.walbaum {
  background-image: url("../img/walbaum.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=letter-gothic],
i.letter-gothic {
  background-image: url("../img/letter-gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=avenir],
i.avenir {
  background-image: url("../img/avenir.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=officina],
i.officina {
  background-image: url("../img/officina.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=scala],
i.scala {
  background-image: url("../img/scala.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=base],
i.base {
  background-image: url("../img/base.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=arnhem],
i.arnhem {
  background-image: url("../img/arnhem.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=lexicon],
i.lexicon {
  background-image: url("../img/lexicon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=scotch-roman],
i.scotch-roman {
  background-image: url("../img/scotch-roman.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=sabon],
i.sabon {
  background-image: url("../img/sabon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bembo],
i.bembo {
  background-image: url("../img/bembo.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=jenson],
i.jenson {
  background-image: url("../img/jenson.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=griffo-classico],
i.griffo-classico {
  background-image: url("../img/griffo-classico.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=garamond-classico],
i.garamond-classico {
  background-image: url("../img/garamond-classico.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=cheltenham],
i.cheltenham {
  background-image: url("../img/cheltenham.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=amplitude],
i.amplitude {
  background-image: url("../img/amplitude.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bell-centennial],
i.bell-centennial {
  background-image: url("../img/bell-centennial.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=neutraface],
i.neutraface {
  background-image: url("../img/neutraface.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=matrix],
i.matrix {
  background-image: url("../img/matrix.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=trade-gothic],
i.trade-gothic {
  background-image: url("../img/trade-gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=news-gothic],
i.news-gothic {
  background-image: url("../img/news-gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=fedra],
i.fedra {
  background-image: url("../img/fedra.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=quadraat],
i.quadraat {
  background-image: url("../img/quadraat.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=clarendon],
i.clarendon {
  background-image: url("../img/clarendon.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=rockwell],
i.rockwell {
  background-image: url("../img/rockwell.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=ionic-no-5],
i.ionic-no-5 {
  background-image: url("../img/ionic-no-5.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=swift],
i.swift {
  background-image: url("../img/swift.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=joanna],
i.joanna {
  background-image: url("../img/joanna.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=aldine],
i.aldine {
  background-image: url("../img/aldine.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=kis],
i.kis {
  background-image: url("../img/kis.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=palatino],
i.palatino {
  background-image: url("../img/palatino.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=cooper-black],
i.cooper-black {
  background-image: url("../img/cooper-black.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=spectrum],
i.spectrum {
  background-image: url("../img/spectrum.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=proforma],
i.proforma {
  background-image: url("../img/proforma.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=copperplate-gothic],
i.copperplate-gothic {
  background-image: url("../img/copperplate-gothic.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=trajan],
i.trajan {
  background-image: url("../img/trajan.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=century],
i.century {
  background-image: url("../img/century.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=ocr],
i.ocr {
  background-image: url("../img/ocr.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=chicago],
i.chicago {
  background-image: url("../img/chicago.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=peignot],
i.peignot {
  background-image: url("../img/peignot.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=oakland],
i.oakland {
  background-image: url("../img/oakland.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=blur],
i.blur {
  background-image: url("../img/blur.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=egyptian],
i.egyptian {
  background-image: url("../img/egyptian.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=courier],
i.courier {
  background-image: url("../img/courier.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=memphis],
i.memphis {
  background-image: url("../img/memphis.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=caecilia],
i.caecilia {
  background-image: url("../img/caecilia.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=gutenberg-b-42],
i.gutenberg-b-42 {
  background-image: url("../img/gutenberg-b-42.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=gebetbuch-fraktur],
i.gebetbuch-fraktur {
  background-image: url("../img/gebetbuch-fraktur.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=unger-fraktur],
i.unger-fraktur {
  background-image: url("../img/unger-fraktur.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=manuskript-gotisch],
i.manuskript-gotisch {
  background-image: url("../img/manuskript-gotisch.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=breitkopf-fraktur],
i.breitkopf-fraktur {
  background-image: url("../img/breitkopf-fraktur.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=fette-deutsche-schrift],
i.fette-deutsche-schrift {
  background-image: url("../img/fette-deutsche-schrift.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=wilhelm-klingspor-gotisch],
i.wilhelm-klingspor-gotisch {
  background-image: url("../img/wilhelm-klingspor-gotisch.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=weiss-rundgotisch],
i.weiss-rundgotisch {
  background-image: url("../img/weiss-rundgotisch.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=fette-fraktur],
i.fette-fraktur {
  background-image: url("../img/fette-fraktur.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=zapfino],
i.zapfino {
  background-image: url("../img/zapfino.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=mistral],
i.mistral {
  background-image: url("../img/mistral.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=hands],
i.hands {
  background-image: url("../img/hands.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=snell-roundhand],
i.snell-roundhand {
  background-image: url("../img/snell-roundhand.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=st-augustine-civilite],
i.st-augustine-civilite {
  background-image: url("../img/st-augustine-civilite.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=bickham-script],
i.bickham-script {
  background-image: url("../img/bickham-script.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=uncial],
i.uncial {
  background-image: url("../img/uncial.svg");
  background-position: center center;
  background-repeat: no-repeat; }

li[data-bg=beowulf],
i.beowulf {
  background-image: url("../img/beowulf.svg");
  background-position: center center;
  background-repeat: no-repeat; }
