* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box; }

body {
  background: #222222; }

.wrapper {
  background: #F5F3ED;
  margin-bottom: 150px;
  padding: 40px 0;
  position: relative;
  z-index: 2; }

#main,
#page_header,
.container {
  max-width: 1260px;
  margin: 0 auto; }

#main {
  position: relative; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #222222;
  font-family: "Vollkorn", Georgia, Times, serif;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

h1 {
  font-size: 32px;
  font-size: 3.2rem; }

h2 {
  font-size: 26px;
  font-size: 2.6rem; }

a {
  color: #96c9e3;
  text-decoration: none; }
  a:active, a:visited {
    color: #96c9e3; }
  a:hover {
    color: #eda8a7; }

em {
  font-style: italic; }

strong,
b {
  font-weight: bold; }

.is-hidden {
  display: none; }

.ico-twitter a,
.ico-github a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.typefaces {
  zoom: 1; }
  .typefaces:before, .typefaces:after {
    content: "";
    display: table; }
  .typefaces:after {
    clear: both; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.icon--typeface {
  height: 40px;
  width: 40px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.card {
  position: relative;
  width: 180px;
  height: 100%;
  padding: 50px 10px;
  text-align: center;
  border: 1px solid #222222;
  background: transparent; }
  .typeface-meta .card {
    position: absolute;
    top: 0;
    left: 0; }

.card--large {
  width: 240px; }

.card__figure {
  width: 100%;
  height: 72px;
  margin-bottom: 20px; }

.card__rank {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  margin-bottom: 0; }
  .card--large .card__rank {
    font-size: 24px;
    font-size: 2.4rem; }

.card__title {
  font-size: 18px;
  font-size: 1.8rem; }
  .card--large .card__title {
    font-size: 24px;
    font-size: 2.4rem; }

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }

.media__figure {
  margin-right: 2rem; }

.media__body {
  -ms-flex: auto;
      flex: auto; }

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.1s ease-out; }
  .modal-container.is-active {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000; }

.modal {
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding-top: 100px; }

.modal__actions {
  color: white;
  text-align: right; }

.modal__close {
  background: transparent;
  border: none;
  outline: none; }

.ico-close {
  display: inline-block;
  background: url("../img/icons/close.svg") center center no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px; }

#page_header {
  margin-bottom: 40px;
  text-align: center; }
  #page_header h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase; }
    #page_header h1 em {
      font-family: "Vollkorn", Georgia, Times, serif;
      font-style: italic;
      font-weight: 400;
      text-transform: lowercase; }
  #page_header h2 {
    border-top: 2px solid #222222;
    font-family: "Vollkorn", Georgia, Times, serif;
    font-style: italic;
    font-weight: 400px;
    line-height: 26px; }
    #page_header h2 span {
      background: #F5F3ED;
      line-height: 26px;
      padding: 0 20px;
      position: relative;
      top: -13px; }

.typefaces {
  margin-left: -0.5%;
  padding: 0;
  position: relative; }

.typefaces li {
  width: 5.05556%;
  display: inline-block;
  float: left;
  height: 64px;
  list-style: none;
  margin-left: 0.5%;
  margin-bottom: 0.5%; }
  .typefaces li.spacer {
    border: none;
    pointer-events: none; }

.typeface {
  position: relative;
  border: 2px solid #d8d7d2;
  color: #222222;
  text-align: center;
  text-transform: capitalize; }
  .typeface:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: url(/img/icons/expand.svg) center center no-repeat;
    background-size: 32px 32px;
    opacity: 0; }
  .typeface[data-family="Script"] {
    margin-top: 3%; }

.typeface:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease-out; }
  .typeface:hover:after {
    opacity: 1; }

.typeface-meta {
  font-size: 18px;
  font-size: 1.8rem;
  width: 38.38889%;
  height: 33.83333%;
  margin-left: 17.16667%;
  padding-left: 17.16667%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; }

.typeface-meta-fullscreen {
  background: white;
  color: #222222; }
  .typeface-meta-fullscreen .rank,
  .typeface-meta-fullscreen .family,
  .typeface-meta-fullscreen .designer,
  .typeface-meta-fullscreen .year {
    display: block;
    margin-bottom: 10px; }
  .typeface-meta-fullscreen .family {
    font-size: 18px;
    font-size: 1.8rem;
    font-style: italic; }
  .typeface-meta-fullscreen .title {
    display: block;
    text-align: center; }

#page_footer {
  font-size: 18px;
  font-size: 1.8rem;
  color: #ffffff;
  height: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  position: fixed;
  z-index: 1; }

p,
address {
  width: 49.5%;
  display: inline-block;
  margin: 0;
  vertical-align: top; }

address {
  font-style: normal;
  text-align: right; }
  address ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0; }
  address li {
    display: inline-block;
    line-height: 36px;
    margin-left: 10px; }

.ico-twitter a,
.ico-github a {
  display: block;
  opacity: 0.5;
  height: 52px;
  width: 52px;
  transition: opacity 0.5s ease-in-out; }
  .ico-twitter a:hover,
  .ico-github a:hover {
    opacity: 1; }

.ico-twitter a {
  background-image: url(../img/social/twitter.svg);
  background-repeat: no-repeat;
  background-size: 51px 36px; }

.ico-github a {
  background-image: url(../img/social/github.svg);
  background-repeat: no-repeat;
  background-size: 42px 36px; }

.sans-serif-grotesk {
  background-color: #c8e9f9; }

.typeface.sans-serif-grotesk {
  border-radius: 0 5px 5px 5px; }

.sans-serif-humanist {
  background-color: #fddfdf; }

.typeface.sans-serif-humanist {
  border-radius: 5px 0 5px 0; }

.sans-serif-geometric {
  background-color: #e4defd; }

.typeface.sans-serif-geometric {
  border-radius: 5px 0 5px 5px; }

.serif-didone {
  background-color: #c3b9f5; }

.typeface.serif-didone {
  border-radius: 5px 5px 5px 0; }

.serif-sans-serif {
  background-color: #96c9e3; }

.typeface.serif-sans-serif {
  border-radius: 0 5px 0 0; }

.serif-realist {
  background-color: #e9fdde; }

.typeface.serif-realist {
  border-radius: 0 5px 0 5px; }

.serif-garalde {
  background-color: #fcf7de; }

.typeface.serif-garalde {
  border-radius: 5px 5px 0 5px; }

.slab-serif {
  background-color: #b8f4bd; }

.typeface.slab-serif {
  border-radius: 0 0 0 5px; }

.glyphic-inscriptional {
  background-color: #d0a6ee; }

.typeface.glyphic-inscriptional {
  border-radius: 0; }

.sans-serif-display {
  background-color: #f4bab9; }

.typeface.sans-serif-display {
  border-radius: 0 0 5px 0; }

.blackletter {
  background-color: #b8f3ee; }

.typeface.blackletter {
  border-radius: 5px 0 0 0; }

.script {
  background-color: #89d9d3; }

.typeface.script {
  border-radius: 5px; }
