// =============================
// Color Palette
// =============================


// =============================
// Gray Color Palette
// =============================
$white:   #ffffff;
$black:   #000000;
$gray:    #555555;


// =============================
// Typography
// =============================


