// ======================
// Periodic Table
// ======================

$type-height: 64px;
$type-width: 64px;

ul {
  margin: 0;
  padding: 0;
}

li {
  border: 2px solid $gray;
  display: inline-block;
  line-height: 64px;
  list-style: none;
  margin-bottom: 2px;
  text-align: center;
  text-transform: capitalize;
    height: $type-height; // 64px
    width: $type-width; // 64px
}

.ss-gro {
  li {
    border-top-left-radius: 0;
  }
}

// Colors for each type class

$ss-grotesk:  #FF6B6B;
$ss-humanist: #FA9C03;
$ss-geo:      #C7F464;
$sr-didone:   #45ADA8;
$sr-ss:       #9DE0AD;
$sr-realist:  #DAD8A7;
$sr-garalde:  #7E5BD5;
$sr-slab:     #4ECDC4;
$gl:          #928980;
$ss-display:  #73C7FF;
$blackletter: #556270;
$script:      #FFA8AE;

// Border Radius
$radius: 5px;
$r-grotesk: 0 $radius $radius $radius;
$r-humanist: $radius 0 $radius 0;
$r-geo: $radius 0 $radius $radius;
$r-didone: $radius $radius $radius 0;
$r-ss: 0 $radius 0 0;
$r-realist: 0 $radius 0 $radius;
$r-garalde: $radius $radius 0 $radius;
$r-slab: 0 0 0 $radius;
$r-gl: 0;
$r-display: 0 0 $radius 0;
$r-blackletter: $radius 0 0 0;
$r-script: $radius;

$type-family-list:
  ss-grotesk $ss-grotesk $r-grotesk,
  ss-humanist $ss-humanist $r-humanist,
  ss-geo $ss-geo $r-geo,
  sr-didone $sr-didone $r-didone,
  sr-ss $sr-ss $r-ss,
  sr-realist $sr-realist $r-realist,
  sr-garalde $sr-garalde $r-garalde,
  sr-slab $sr-slab $r-slab,
  gl-inscription $gl $r-gl,
  ss-display $ss-display $r-display,
  blackletter $blackletter $r-blackletter,
  script $script $r-script;

@each $type in $type-family-list {
  .#{nth($type, 1)} {
    border: 2px solid nth($type, 2);
    border-radius: nth($type, 3);
  }
}