// ======================
// Periodic Table
// ======================

#page_header {
  text-align: center;
}

#main {
  position: relative;
}

ol {
  @extend %clearfix;
  margin-left: -$gutter;
  padding: 0;
  position: relative;
}

li {
  @include span(1, $max_columns);
  border: 2px solid $gray;
  color: transparent;
  display: inline-block;
  float: left;
  height: 64px;
  list-style: none;
  margin-left: $gutter;
  margin-bottom: $gutter;
  text-align: center;
  text-indent: 100%;
  text-transform: capitalize;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
}

li[data-bg="futura"] {
  margin-left: ($one_col * 15)+$gutter;
  margin-right: $one_col;
}

li[data-bg="gill_sans"],
li[data-bg="myriad"] {
  margin-left: ($one_col * 9)+$gutter
}

li[data-bg="zapfino"] {
  margin-left: ($one_col * 10)+$gutter;
}

li.script {
  margin-top: $gutter*6;
}

.typeface-meta {
  @include span(7, $max_columns);
  height: ($one_col * 6)+$gutter;
  margin-left: ($one_col * 3)+$gutter;
  position: absolute;
    left: 0;
    top: 0;
  z-index: 1010;
}

// Colors for each type class
$ss-grotesk:  #FF6B6B;
$ss-humanist: #FA9C03;
$ss-geo:      #C7F464;
$sr-didone:   #45ADA8;
$sr-ss:       #9DE0AD;
$sr-realist:  #DAD8A7;
$sr-garalde:  #7E5BD5;
$sr-slab:     #4ECDC4;
$gl:          #928980;
$ss-display:  #73C7FF;
$blackletter: #556270;
$script:      #FFA8AE;

// Border Radius
$radius: 5px;
$r-grotesk: 0 $radius $radius $radius;
$r-humanist: $radius 0 $radius 0;
$r-geo: $radius 0 $radius $radius;
$r-didone: $radius $radius $radius 0;
$r-ss: 0 $radius 0 0;
$r-realist: 0 $radius 0 $radius;
$r-garalde: $radius $radius 0 $radius;
$r-slab: 0 0 0 $radius;
$r-gl: 0;
$r-display: 0 0 $radius 0;
$r-blackletter: $radius 0 0 0;
$r-script: $radius;

$type-family-list:
  ss-grotesk $ss-grotesk $r-grotesk,
  ss-humanist $ss-humanist $r-humanist,
  ss-geo $ss-geo $r-geo,
  sr-didone $sr-didone $r-didone,
  sr-ss $sr-ss $r-ss,
  sr-realist $sr-realist $r-realist,
  sr-garalde $sr-garalde $r-garalde,
  sr-slab $sr-slab $r-slab,
  gl-inscription $gl $r-gl,
  ss-display $ss-display $r-display,
  blackletter $blackletter $r-blackletter,
  script $script $r-script;

@each $type in $type-family-list {
  .#{nth($type, 1)} {
    border: 2px solid nth($type, 2);
    border-radius: nth($type, 3);
  }
}

// Typeface list for background images

$typeface-list:
helvetica,
futura,
univers,
akzidenz_grotesk,
gill_sans,
optima,
frutiger,
syntax,
meta,
avant_garde,
bodoni,
bell_gothic,
franklin_gothic,
myriad,
formata,
prokyon,
metro,
antique_olive,
eurostile,
didot,
interstate,
din,
stone,
thesis,
rotis,
times,
trinite,
baskerville,
garamond,
caslon,
minion,
lucida,
fleischmann,
dax,
today_sans,
info,
gotham,
walbaum,
letter_gothic,
avenir,
officina,
scala,
base,
arnhem,
lexicon,
scotch_roman,
sabon,
bembo,
jenson,
griffo_classico,
garamond_classico,
cheltenham,
amplitude,
bell_centennial,
neutraface,
matrix,
trade_gothic,
news_gothic,
fedra,
quadraat,
clarendon,
rockwell,
ionic,
swift,
joanna,
aldine,
kis,
palatino,
cooper_black,
spectrum,
proforma,
copperplate_gothic,
trajan,
century,
ocr,
chicago,
peignot,
oakland,
blur,
egyptian,
courier,
memphis,
caecilia,
gutenberg,
gebetbuch,
unger_fraktur,
manuskript,
breitkopf,
fette,
wilhelm,
weiss,
fette_deutsche,
zapfino,
mistral,
hands,
snell_roundhand,
st_augustine,
bickham_script,
uncial,
beowulf;

@each $typeface in $typeface-list {
  li[data-bg=#{$typeface}] {
    background-image: url('../img/#{$typeface}.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }
}