.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.1s ease-out;

  &.is-active {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
  }
}

.modal {
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding-top: 100px;
}

.modal__actions {
  color: white;
  text-align: right;
}

.modal__close {
  background: transparent;
  border: none;
  outline: none;
}

.ico-close {
  display: inline-block;
  background: url('../img/icons/close.svg') center center no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
