.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.1s ease-in-out;

  &.is-active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    z-index: 1000;
  }
}

.modal {
  width: 50%;
  padding-top: 100px;
  margin: 0 auto;
  max-width: 700px;
  height: auto;

  @include respond-to(max-width, $break-medium){
    width: 90%;
  }
}

.modal__actions {
  color: white;
  text-align: right;

  @include respond-to(max-width, $break-medium){
    margin-bottom: 20px;
  }
}

.modal__close {
  background: transparent;
  border: none;
  outline: none;
}

.ico-close {
  display: inline-block;
  background: url('../img/icons/close.svg') center center no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
