$tooltip_size: 320px;
$tooltip_offset: -($tooltip_size/2);

.tooltip {
  display: inline;
  position: relative;
  z-index: map-get($zindex, tooltip);
}

.tooltip__content {
  @extend %clearfix;
  position: absolute;
  width: $tooltip_size;
  left: 50%;
  margin: 0 0 20px $tooltip_offset;
  bottom: 100%;
  text-align: left;
  background: $gray;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  transform: translate3d(0,-10px,0);
  transition: opacity 0.3s, transform 0.3s;

  &:after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: $gray;
    border-width: 10px;
    margin-left: -10px;
  }

  .tooltip:hover & {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  }
}

.tooltip__figure {
  background-color: $base_bg;
  display: block;
  float: left;
  margin-right: 20px;
  position: relative;
}

.tooltip__text {
  @include font-size(1.4);
  padding: 20px 20px 20px 0;
  color: #fff;
}

.tooltip__title {
  @include font-size(1.8);
  display: block;
  font-family: $display_font;
}
