$tooltip_size: 200px;
$tooltip_offset: -($tooltip_size/2);

.tooltip {
  display: inline;
  position: relative;
  z-index: 7000;
}

.tooltip__trigger {

}

.tooltip__content {
  @extend %clearfix;
  position: absolute;
  width: $tooltip_size;
  left: 50%;
  margin: 0 0 20px $tooltip_offset;
  bottom: 100%;
  text-align: left;
  font-size: 0.765em;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;

  &:after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #2a3035;
    border-width: 10px;
    margin-left: -10px;
  }

  .tooltip:hover & {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  }
}

.tooltip__figure {
  background-color: $base_bg;
  display: block;
  float: left;
  margin-right: 1em;
  position: relative;
}

.tooltip__text {
  @include font-size(1.8);
  line-height: 1.35;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff;
}
