.typefaces-container {
  @extend %clearfix;
  margin-left: -$gutter;
  padding: 0;
  position: relative;

  li {
    @include span(1, $max_columns);
    display: inline-block;
    float: left;
    height: 64px;
    list-style: none;
    margin-left: $gutter;
    margin-bottom: $gutter;

    &.spacer {
      border: none;
      pointer-events: none;

      @include respond-to(max-width, $break-medium){
        display: none;
      }
    }

    @include respond-to(max-width, $break-medium){
      float: none;
      display: flex;
      height: auto;
      align-items: center;
      text-align: left;
      margin-left: 0;
      width: 100%;
    }
  }
}

.typeface {
  position: relative;
  border: 2px solid #d8d7d2;
  color: $gray;  
  text-align: center;
  text-transform: capitalize;

  // Need extra margin for the special ones on the bottom row
  &[data-family="Script"] {
    margin-top: $gutter * 6;

    @include respond-to(max-width, $break-medium){
      margin-top: 0;
    }
  }

  @include respond-to(max-width, $break-medium){
    border-width: 1px;
  }
}

.typeface a {
  @include respond-to(max-width, $break-medium){
    padding: 20px;
  }

  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $gray;

  &:hover {
    cursor: pointer;
    color: $gray;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.2s ease-out;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/img/icons/expand.svg) center center no-repeat;
    background-size: 32px 32px;
    opacity: 0;
  }

  &:hover:after {
    opacity: 1;
  }

  .touchevents &:after {
    display: none;
  }
}

.typeface__title {
  @extend %visually-hidden;

  @include respond-to(max-width, $break-medium){
    @include font-size(2.0);
    position: static; 
    overflow: visible; 
    clip: auto; 
    height: auto; 
    width: auto; 
    margin: 0 0 0 20px; 
    padding: 0; 
    border: 0; 
    flex: auto;
    text-align: left;
  }
}

#typeface__media {
  @extend %visually-hidden;
}

// Styling the elements
// -----------------------------

$families: (
  sans-serif-grotesk:     (basecolor: #c8e9f9, radius: 0 5px 5px 5px),
  sans-serif-humanist:    (basecolor: #fddfdf, radius: 5px 0 5px 0),
  sans-serif-geometric:   (basecolor: #e4defd, radius: 5px 0 5px 5px),
  serif-didone:           (basecolor: #c3b9f5, radius: 5px 5px 5px 0),
  serif-sans-serif:       (basecolor: #96c9e3, radius: 0 5px 0 0),
  serif-realist:          (basecolor: #e9fdde, radius: 0 5px 0 5px),
  serif-garalde:          (basecolor: #fcf7de, radius: 5px 5px 0 5px),
  slab-serif:             (basecolor: #b8f4bd, radius: 0 0 0 5px),
  glyphic-inscriptional:  (basecolor: #d0a6ee, radius: 0),
  sans-serif-display:     (basecolor: #f4bab9, radius: 0 0 5px 0),
  blackletter:            (basecolor: #b8f3ee, radius: 5px 0 0 0),
  script:                 (basecolor: #89d9d3, radius: 5px),
);

@each $label, $map in $families {
  .typeface--#{$label},
  .typeface-meta-fullscreen.#{$label} {
    background-color: map-get($map, basecolor);
  }
};

// TODO: refactor these into better classes
// -----------------------------
.typeface-meta-fullscreen {
  background: white;
  color: $gray;

  .family,
  .designer,
  .year {
    display: block;
    margin-bottom: 10px;
  }

  .family {
    @include font-size(1.8);
    font-style: italic;
  }

  .title {
    
    display: block;
    text-align: center;
  }
}
