// ======================
// Global
// ======================

* {
   -webkit-text-size-adjust:none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


// ======================
// Page Layout
// ======================

section,
nav,
header,
aside {
  display: block;
}


$total-columns  : 18;             // an 18-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 0.3em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

#main {
  @include container();
}
