// ======================
// Global
// ======================

* {
   -webkit-text-size-adjust:none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


// ======================
// Page Layout
// ======================

section,
nav,
header,
aside {
  display: block;
}

body {
  background: $base_bg url(../img/bg/texture.jpg);
  @include respond-to(-webkit-min-device-pixel-ratio, 2) {
    background: $base_bg url(../img/bg/texture@2x.jpg);
  }
}

#main,
#page_header {
  max-width: 1260px;
  margin: 0 auto;  
}

#main {
  position: relative;
}

