// =============================
// Color Palette
// =============================

$link_color:	#96c9e3;
$link_hover:	#eda8a7;

// =============================
// Gray Color Palette
// =============================
$white:   #ffffff;
$black:   #000000;
$gray:    #222222;
$base_bg: #dfdbcf;


// =============================
// Typography
// =============================
$base_font: 'Vollkorn', Georgia, Times, serif;
$display_font: 'Open Sans', Helvetica, Arial, sans-serif;

// =============================
// Mixins
// =============================

// Columns
// -----------------------------
$max_columns: 18;
$gutter: 0.5%;
$one_col: (100%) / $max_columns;

@mixin span($num, $max_columns) {
  width: ($one_col * $num) - $gutter;
}

// Hat tip to Chris Coyier of CSS Tricks http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// -----------------------------
@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Media Queries
// -----------------------------
@mixin respond-to($val, $query) {
  @media ($val: $query) {
    @content
  }
}
