// ======================
// Periodic Table
// ======================

// Banner
// -----------------------------

#page_header {
  margin-bottom: 40px;
  text-align: center;

  h1 {
    font-family: $display_font;
    font-weight: 800;
    text-transform: uppercase;

    em {
      font-family: $base_font;
      font-style: italic;
      font-weight: 400;
      text-transform: lowercase;
    }
  }

  h2 {
    border-top: 2px solid $gray;
    font-family: $base_font;
    font-style: italic;
    font-weight: 400px;
    line-height: 26px;

    span {
      background: #F5F3ED;
      line-height: 26px;
      padding: 0 20px;
      position: relative;
      top: -13px;
    }
  }
}

// The Table
// -----------------------------

.typefaces {
  @extend %clearfix;
  margin-left: -$gutter;
  padding: 0;
  position: relative;
}

.typefaces li {
  @include span(1, $max_columns);
  display: inline-block;
  float: left;
  height: 64px;
  list-style: none;
  margin-left: $gutter;
  margin-bottom: $gutter;

  &.spacer {
    border: none;
    pointer-events: none;
  }
}

.typeface {
  position: relative;
  border: 2px solid #d8d7d2;
  color: $gray;  
  text-align: center;
  text-transform: capitalize;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: url(/img/icons/expand.svg) center center no-repeat;
    background-size: 32px 32px;
    opacity: 0;
  }

  // Need extra margin for the special ones on the bottom row
  &[data-family="Script"] {
    margin-top: $gutter * 6;
  }
}

.typeface:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  transition: background-color 0.2s ease-out;

  &:after {
    opacity: 1;
  }
}

// Element Card
// -----------------------------

.typeface-meta {
  @include font-size(1.8);
  @include span(7, $max_columns);
  height: ($one_col * 6)+$gutter;
  margin-left: ($one_col * 3)+$gutter;
  padding-left: ($one_col*3)+$gutter;
  position: absolute;
    left: 0;
    top: 0;
  z-index: 2;
}

.typeface-meta-fullscreen {
  background: white;
  color: $gray;
  .rank,
  .family,
  .designer,
  .year {
    display: block;
    margin-bottom: 10px;
  }

  .family {
    @include font-size(1.8);
    font-style: italic;
  }

  .title {
    
    display: block;
    text-align: center;
  }
}

// Footer and Attribution
// -----------------------------

#page_footer {
  @include font-size(1.8);
  color: $white;
  height: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  position: fixed;
  z-index: 1;
}

p,
address {
  @include span(9, $max_columns);
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

address {
  font-style: normal;
  text-align: right;

  ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
  }

  li {
    display: inline-block;
    line-height: 36px;
    margin-left: 10px;
  }
}

a {
  .ico-twitter &,
  .ico-github & {
    @extend %hide-text;
    display: block;
    opacity: 0.5;
    height: 52px;
    width: 52px;
   -moz-transition: opacity 0.5s ease-in-out;
-webkit-transition: opacity 0.5s ease-in-out;
     -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .ico-twitter & {
    background-image: url(../img/social/twitter.svg);
    background-repeat: no-repeat;
    background-size: 51px 36px;
  }

  .ico-github & {
    background-image: url(../img/social/github.svg);
    background-repeat: no-repeat;
    background-size: 42px 36px;
  }
}

// Styling the elements
// -----------------------------

$families: (
  sans-serif-grotesk:     (basecolor: #c8e9f9, radius: 0 5px 5px 5px),
  sans-serif-humanist:    (basecolor: #fddfdf, radius: 5px 0 5px 0),
  sans-serif-geometric:   (basecolor: #e4defd, radius: 5px 0 5px 5px),
  serif-didone:           (basecolor: #c3b9f5, radius: 5px 5px 5px 0),
  serif-sans-serif:       (basecolor: #96c9e3, radius: 0 5px 0 0),
  serif-realist:          (basecolor: #e9fdde, radius: 0 5px 0 5px),
  serif-garalde:          (basecolor: #fcf7de, radius: 5px 5px 0 5px),
  slab-serif:             (basecolor: #b8f4bd, radius: 0 0 0 5px),
  glyphic-inscriptional:  (basecolor: #d0a6ee, radius: 0),
  sans-serif-display:     (basecolor: #f4bab9, radius: 0 0 5px 0),
  blackletter:            (basecolor: #b8f3ee, radius: 5px 0 0 0),
  script:                 (basecolor: #89d9d3, radius: 5px),
);

@each $label, $map in $families {
  .#{$label} {
    background-color: map-get($map, basecolor);
  }

  .typeface.#{$label} {
    border-radius: map-get($map, radius);
  }
};
