// ======================
// Periodic Table
// ======================

// Banner
// -----------------------------

#page_header {
  margin-bottom: 40px;
  text-align: center;

  h1 {
    font-family: $display_font;
    font-weight: 800;
    text-transform: uppercase;

    em {
      font-family: $base_font;
      font-style: italic;
      font-weight: 400;
      text-transform: lowercase;
    }
  }

  h2 {
    border-top: 2px solid $gray;
    font-family: $base_font;
    font-style: italic;
    font-weight: 400px;
    line-height: 26px;

    span {
      background: $base_bg url(../img/bg/texture.jpg);
      line-height: 26px;
      padding: 0 20px;
      position: relative;
      top: -13px;
      @include respond-to(-webkit-min-device-pixel-ratio, 2) {
        background: $base_bg url(../img/bg/texture@2X.jpg);
      }
    }
  }
}

// The Table
// -----------------------------

.typefaces {
  @extend %clearfix;
  margin-left: -$gutter;
  padding: 0;
  position: relative;
}

$table-columns: 18;
$typeface-width: ((100%) / $table-columns) - $gutter;

.typefaces li {
  width: $typeface-width;
  display: inline-block;
  float: left;
  height: 64px;
  list-style: none;
  margin-left: $gutter;
  margin-bottom: $gutter;

  &.spacer {
    border: none;
    pointer-events: none;
  }
}

.typeface {
  position: relative;
  border: 2px solid $gray;
  color: transparent;  
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-indent: 100%;
  text-transform: capitalize;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: url(/img/icons/expand.svg) center center no-repeat;
    background-size: 32px 32px;
    opacity: 0;
  }

  &[data-family="Script"] {
    margin-top: $gutter * 6;
  }
}

.typeface:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  transition: background-color 0.2s ease-out;

  &:after {
    opacity: 1;
  }
}

// Element Card
// -----------------------------

.typeface-meta {
  @include font-size(1.8);
  @include span(7, $max_columns);
  height: ($one_col * 6)+$gutter;
  margin-left: ($one_col * 3)+$gutter;
  padding-left: ($one_col*3)+$gutter;
  position: absolute;
    left: 0;
    top: 0;
  z-index: 2;

  .card {
    @include span(7, $max_columns);
    background: $base_bg;
    border: 1px solid darken($base_bg, 10);
    height: 100%;
    padding-top: 50px;
    position: absolute;
      left: 0;
      top: 0;
  }

  .rank {
    display: block;
    margin-bottom: 0;
    position: absolute;
      top: 10px;
      right: 10px;
  }

  i {
    background-size: auto 100%;
    display: block;
    margin: 10px auto;
    height: 64px;
  }
}

.typeface-meta-fullscreen {
  background: #005194;
  color: white;

  .card {
    color: $gray;
    width: 240px;
    background: $base_bg;
    border: 1px solid darken($base_bg, 10);
    height: 100%;
    padding: 50px 0;
    position: relative;

    i {
      background-size: auto 100%;
      display: block;
      margin: 10px auto;
      height: 64px;
    }
  }
  .rank,
  .family,
  .designer,
  .year {
    display: block;
    margin-bottom: 10px;
  }

  .rank {
    margin-bottom: 0;
    position: absolute;
      top: 10px;
      right: 10px;
  }

  .family {
    font-style: italic;
  }

  .title {
    @include font-size(1.8);
    display: block;
    text-align: center;
  }
}

.media {
  display: flex;
  align-items: flex-start;
}

.media__figure {
  margin-right: 2rem;
}

.media__body {
  flex: auto;
}

// Modal
// -----------------------------
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.1s ease-out;

  &.is-active {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
  }
}

.modal {
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding-top: 100px;
}

.modal__actions {
  color: white;
  text-align: right;
}

.modal__close {
  background: transparent;
  border: none;
  outline: none;
}

.ico-close {
  display: inline-block;
  background: url('../img/icons/close.svg') center center no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

// Footer and Attribution
// -----------------------------

#page_footer {
  @include font-size(1.8);
  color: $white;
  height: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  position: fixed;
  z-index: 1;
}

p,
address {
  @include span(9, $max_columns);
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

address {
  font-style: normal;
  text-align: right;

  ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
  }

  li {
    display: inline-block;
    line-height: 36px;
    margin-left: 10px;
  }
}

a {
  .ico-twitter &,
  .ico-github & {
    @extend %hide-text;
    display: block;
    opacity: 0.5;
    height: 52px;
    width: 52px;
   -moz-transition: opacity 0.5s ease-in-out;
-webkit-transition: opacity 0.5s ease-in-out;
     -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .ico-twitter & {
    background-image: url(../img/social/twitter.svg);
    background-repeat: no-repeat;
    background-size: 51px 36px;
  }

  .ico-github & {
    background-image: url(../img/social/github.svg);
    background-repeat: no-repeat;
    background-size: 42px 36px;
  }
}

// Styling the elements
// -----------------------------

// Colors for each type class
$sans-serif-grotesk:  #ffa952;
$sans-serif-humanist: #a4d768;
$sans-serif-geometric:      #f3ca66;
$serif-didone:   #c3afe5;
$serif-sans-serif:       #60b0e6;
$serif-realist:  #fd94ab;
$serif-garalde:  #b65519;
$serif-slab:     #5a8e23;
$glyphic-inscriptional:          #a07d0c;
$sans-serif-display:  #796692;
$blackletter: #005194;
$script:      #72263d;

// Border Radius
$radius: 5px;
$r-grotesk: 0 $radius $radius $radius;
$r-humanist: $radius 0 $radius 0;
$r-geo: $radius 0 $radius $radius;
$r-didone: $radius $radius $radius 0;
$r-ss: 0 $radius 0 0;
$r-realist: 0 $radius 0 $radius;
$r-garalde: $radius $radius 0 $radius;
$r-slab: 0 0 0 $radius;
$r-gl: 0;
$r-display: 0 0 $radius 0;
$r-blackletter: $radius 0 0 0;
$r-script: $radius;

$type-family-list:
  sans-serif-grotesk $sans-serif-grotesk $r-grotesk,
  sans-serif-humanist $sans-serif-humanist $r-humanist,
  sans-serif-geometric $sans-serif-geometric $r-geo,
  serif-didone $serif-didone $r-didone,
  serif-sans-serif $serif-sans-serif $r-ss,
  serif-realist $serif-realist $r-realist,
  serif-garalde $serif-garalde $r-garalde,
  serif-slab $serif-slab $r-slab,
  glyphic-inscriptional $glyphic-inscriptional $r-gl,
  sans-serif-display $sans-serif-display $r-display,
  blackletter $blackletter $r-blackletter,
  script $script $r-script;

@each $type in $type-family-list {
  li.#{nth($type, 1)} {
    transition: border 0.18s ease-out;
    border-radius: nth($type, 3);
    &:hover {
      border: 2px solid nth($type, 2);
    }
  }

}

// Typeface list for background images

$typeface-list:
helvetica,
futura,
univers,
akzidenz-grotesk,
gill-sans,
optima,
frutiger,
syntax,
meta,
avant-garde,
bodoni,
bell-gothic,
franklin-gothic,
myriad,
formata,
prokyon,
metro,
antique-olive,
eurostile,
didot,
interstate,
din,
stone,
thesis,
rotis,
times,
trinite,
baskerville,
garamond,
caslon,
minion,
lucida,
fleischmann,
dax,
today-sans,
info,
gotham,
walbaum,
letter-gothic,
avenir,
officina,
scala,
base,
arnhem,
lexicon,
scotch-roman,
sabon,
bembo,
jenson,
griffo-classico,
garamond-classico,
cheltenham,
amplitude,
bell-centennial,
neutraface,
matrix,
trade-gothic,
news-gothic,
fedra,
quadraat,
clarendon,
rockwell,
ionic-no-5,
swift,
joanna,
aldine,
kis,
palatino,
cooper-black,
spectrum,
proforma,
copperplate-gothic,
trajan,
century,
ocr,
chicago,
peignot,
oakland,
blur,
egyptian,
courier,
memphis,
caecilia,
gutenberg-b-42,
gebetbuch-fraktur,
unger-fraktur,
manuskript-gotisch,
breitkopf-fraktur,
fette-deutsche-schrift,
wilhelm-klingspor-gotisch,
weiss-rundgotisch,
fette-fraktur,
zapfino,
mistral,
hands,
snell-roundhand,
st-augustine-civilite,
bickham-script,
uncial,
beowulf;

@each $typeface in $typeface-list {
  li[data-bg=#{$typeface}],
  i.#{$typeface} {
    background-image: url('../img/#{$typeface}.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }
}
