<ol class="typefaces-container">
{{#typefaces}}
  <li class="typeface typeface--{{#lower}}{{family}}{{/lower}}"
      data-bg="{{#lower}}{{name}}{{/lower}}"
      data-title="{{name}}"
      data-family="{{family}}"
      data-designer="{{designer}}"
      data-year="{{year}}"
      data-rank="{{rank}}"
      data-spacer="{{spacers}}">

    <a href="#media-{{#lower}}{{name}}{{/lower}}" class="tooltip js-tooltip" data-family="{{family}}">
      <svg class="icon icon--typeface">
        <use xlink:href="img/typeface-data.svg#{{#lower}}{{name}}{{/lower}}"></use>
      </svg>
      <span class="typeface__title">{{name}}</span>
      <span class="tooltip__content">
        <div class="tooltip__figure {{#lower}}{{family}}{{/lower}} card card--mini">
          <span class="card__rank">{{rank}}</span>
          <svg class="icon card__figure">
            <use xlink:href="img/typeface-data.svg#{{#lower}}{{name}}{{/lower}}"></use>
          </svg>
        </div>
        <span class="tooltip__text">
          <span class="tooltip__title">{{name}}</span>
          {{family}}
        </span>
      </span>
    </a>
  </li>
{{/typefaces}}
</ol>

<div id="typeface__media">
  {{#typefaces}}
  <div class="media" id="media-{{#lower}}{{name}}{{/lower}}">
    <div class="media__figure">
      <div class="card card--large">
        <span class="card__rank">{{rank}}</span>
        <svg class="icon card__figure">
          <use xlink:href="img/typeface-data.svg#{{#lower}}{{name}}{{/lower}}"></use>
        </svg>
        <span class="card__title">{{name}}</span>
      </div>
    </div>
    <div class="media__body">
      <span class="family">{{family}}</span>
      <span class="designer">{{designer}}</span>
      <span class="year">{{year}}</span>
      <p>{{blurb}}</p>
    </div>
  </div>
  {{/typefaces}}
</div>
