<ol class="typefaces-container">
{{#typefaces}}
  <li class="typeface {{#lower}}{{family}}{{/lower}}"
      data-bg="{{#lower}}{{name}}{{/lower}}"
      data-family="{{family}}"
      data-title="{{name}}"
      data-designer="{{designer}}"
      data-year="{{year}}"
      data-rank="{{rank}}"
      data-spacer="{{spacers}}">

    <svg class="icon icon--typeface">
      <use xlink:href="img/typeface-data.svg#{{#lower}}{{name}}{{/lower}}"></use>
    </svg>

    <span class="visually-hidden">
      {{abbreviation}}
    </span>
  </li>
{{/typefaces}}
</ol>
