// ======================
// Body Type
// ======================

html {
  font-size: 62.5%;
}
body {
  @include font-size(1.6);
  color: $gray;
  font-family: $base_font;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h1 { 
  @include font-size(3.2);
}

h2 { 
  @include font-size(2.6);
}

h3 {
  @include font-size(2.0);
}

h4 {
  @include font-size(1.8);
}

a {
  color: $link_color;
  text-decoration: none;

  &:active,
  &:visited {
    color: $link_color;
  }

  &:hover {
    color: $link_hover;
  }
}

em {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}
